
body{
	margin: 0;
	padding: 0;
	font-family: Georgia, Times, "Times New Roman", serif;
}

/*HEADER*/

header{
	background:#ebebeb;
	
}

.top-line{
	background:#fff;
	height: 50px;
	border-bottom: 1px solid #97455f;
}

.top-line .wrap{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrap{
	width: 955px;
	margin: 0 auto;
}

.text-block a{
	color: #97455f;
	font-size: 16px;
	text-decoration: none;
}

.text-block a:first-child::after,
			a:nth-child(2)::after,
			a:nth-child(3)::after{
	content: "|";
	margin-left: 3px;
}

.social-block i{
	font-size: 30px;
	color: #d2d2d2;
}

.social-block i:hover{
	color: #ee802f;
	transition: .7s;
}

.social-block{
	width: 160px;
	display: flex;
	justify-content: space-between;
}

/*LABEL*/

/*btn*/

.btn-minus{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 26px;
	width: 30px;
	background: #97455f;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn-minus .hr{
	width: 11px;
	height: 1px;
	background:#fff;
}

.btn-minus:hover{
	cursor: pointer;
}

.btn-block{
	display: flex;
	justify-content: flex-end;
}

/*header label*/

.header-label{
	margin-top: 35px;
	height: 33px;
	display: flex;
	justify-content: space-between;
}

.label{
	display: flex;
	align-items: center;
}

.label .hr{
	margin-left: 8px;
	margin-right: 5px;
	height: 25px;
	width: 1px;
	background:#999999;
}

.label p{
	color: #999;
	font-size: 12px;
	line-height: 16px;
}

.label h1{
	text-transform: uppercase;
	font-size: 26px;
	color: #333;
}

.label h1::first-letter{
	font-size: 36px;
}

.label-box{
	width: 103px;
}

/*search*/

.search{
	width: 285px;
	display: flex;

}

.search input{
	padding-left: 10px;
	border:none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	color: #999;
	width: 210px;
	height: 32px;
	font-size: 12px;
	
}

.search button{
	width: 75px;
	height: 33px;
	background:#97455f;
	border:none;
	color: #fff;
	font-size: 12px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.search button:hover{
	cursor: pointer;
}

/*navigation*/

.nav{
	margin-top: 48px;
	height: 50px;
	background:#97455f;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.nav a{
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.nav a:first-child{

}

.nav a::after{
	content: "";
}

.nav-links{
	margin-left: 16px;
	height: 50px;
	width: 672px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*header-cont*/

.header-cont{
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	align-items: center;
	width: 100%;
	background:#fff;
	height: 478px;
}

.header-bg{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	height: 360px;
	width: 910px;
	background:#333333;
}

.header-bg p{
	margin-top: 155px;
	font-size: 24px;
	color: #fff;
}

.header-bg .text{
	margin-left: 440px;
	width: 455px;
	height: 115px;
	background:#adadad;
	text-align: left;

}

.header-bg .text h3{
	margin: 0;
	margin-left: 30px;
	margin-top: 8px;
	font-size: 36px;
	color: #383838;
	font-weight: 500;
}

.header-bg .text p{
	line-height: 22px;
	margin: 0;
	margin-left: 30px;
	margin-top: 10px;
	color: #383838;
	font-size: 16px;
}

/*Dots block*/

.dots-block{
	margin: 20px;
	width: 95px;
	height: 15px;
	display: flex;
	justify-content: space-between;
}

.dot{
	height: 15px;
	width: 15px;
	background:#333333;
	border-radius: 50%;
}

.circle{
	background:none;
	height: 13px;
	width: 13px;
	border:2px solid #333333;
}

.dot:hover{
	cursor: pointer;
	background: #565656;
	transition: .7s;
}

/*MAIN*/

main{
	width: 100%;
	background:#ebebeb;
}

main .wrap{
	background:#ebebeb;
}

.content{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

/*.hr-line{
	background:#ebebeb;
	display: flex;
	justify-content: center;
	height: 5px;
	width: 100%;
}
*/

main .caption{
	display: flex;
	justify-content: center;
}
.title{
	margin: 0;
	background:#fff;
	width: 160px;
	font-size: 16px;
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}

/*CONTENT ITMES*/

.content-itms{
	height: 280px;
	width: 920px;
	background:#fff;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 80px 80px;
	grid-row-gap:43px; 
	grid-column-gap:37px; 
	padding-left: 35px;
	padding-top: 40px;
}

.cont-itm{
	display: flex;
}

.cont-itm .img{
	width: 64px;
	height: 64px;
	background:#353535;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont-itm .img p{
	font-size: 12px;
	color: #ebebeb;
}

.cont-itm .cont-text{
	margin-left: 10px;
	text-align: left;
	color: #999;
	font-size: 13px;
}

.cont-itm .cont-text p{
	line-height: 18px;
}

.cont-itm .cont-text p:first-child{
	font-size: 15px;
	color: #97455f;
	margin: 0;
}

/*title block*/

.title-block{
	width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.title-itm{
	padding-top: 33px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	background:#fff;
	width: 100%;
}

/*title content*/

.title-content{
	text-align: left;
	display: flex;
	width: 430px;
}

.title-content .img{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 128px;
	width: 128px;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	background:#333333;
}

.title-content .title-text p:first-child{
	font-size: 16px;
	color: #333;
}

.title-content .title-text p:nth-child(2){
	color: #999;
	font-size: 13px;
}

.title-text{
	margin-left: 18px;
}

.title-text a{
	color: #97455f;
	font-size: 13px;
	text-decoration: none;
}

.title-text a::after{
	content: "";
}

.title-text a i{
	font-size: 9px;
}

/*title quote*/

.title-quote{
	display: flex;
	flex-direction: column;
}

.quote-img{
	text-align: left;
	height: 43px;
	width: 220px;
	display: flex;
	align-items: center;
}

.img-text{
	margin-left: 11px;
}

.img-text p{
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #333;	
}

.img-text a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 13px;
	color: #97455f;
}

.img-text a::after{
	content: "";
}

.img-text a i{
	font-size: 9px;
}

.quote-img a{
	display: block;
}

.quote-text p{
	font-size: 13px;
	color: #999;
	text-align: left;
}

/*shout*/

.shout{
	padding-bottom: 50px;
}

.shout-block{
	display: flex;
	width: 955px;
	height: 105px;
	border-radius: 5px;
	background:#97455f;
}

.shout-txt h2,
.shout-txt p{
	margin: 0;
	padding: 0;
	font-size: 36px;
	color: #e5e5e5;
	font-weight: 400;
}

.shout-txt p{
	font-size: 18px;
}

.shout-txt{
	margin-left: 50px;
	margin-top: 24px;
}

.shout-block button{
	margin-left: 45px;
	margin-top: 24px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 26px;
	color:#97455f;
	border:none;
	width: 280px;
	height: 58px;
	background:#fff;
	border-radius: 5px;
}

/*FOOTER*/

footer{
	border-top:4px solid #d2d2d2;
	background:#ebebeb;
}

footer .wrap{
	display: flex;
}

/*Box-1*/

.footer-title{
	margin: 0;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

.itm-1{
	display: flex;
}

.itm-1 .img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 103px;
	height: 103px;
	border:1px solid #d2d2d2;
}

.itm-1 .img div{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #333333;
	width: 95px;
	height: 95px;
}

.itm-1 .img div p{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.itm-1 .text{
	margin-left: 20px;
}

.itm-1 .text h3{
	padding: 0;
	margin: 0;
	margin-top: 10px;
	font-size: 16px;
	color: #97455f;
	font-weight: 400;
}

.itm-1 .text p{
	line-height: 18px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	font-size: 12px;
	color: #999;
}

.box-1 .itm-1:nth-child(3){
	margin-top: 25px;
}

/*Box-2*/

.box-2{
	margin-top: 40px;
	margin-left: 35px;
}

.box-2 h2{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.box-2 p{
	font-size: 12px;
	color: #999;
}

.box-2 .itm-1{
	
}

.box-2 .itm-1 a{
	
	font-size: 12px;
	text-decoration: none;
	color: #999;
	line-height: 19px;
}

.itm-2 p{
	line-height: 19px;
	margin: 0;
	margin-top: 20px;
}

.itm-2 p span{
	color: #97455f;
}

.itm-3 p span{
	font-weight: 700;
}

.itm-3 p{
	margin: 0;
	
	margin-top: 20px;
	line-height: 19px;
}